*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# OpenCV 빌드 파일들 (소스는 유지, 빌드 결과물만 제외)
openCVLibrary/build/
ChatKit-master/chatkit/build/
